@import "../../Scss/Variables.scss";

.header {
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 100%;
  padding: 16px 0;
}

.header__inner {
  flex-grow: 1;
}

.header__link {
  display: block;
  margin-top: -10px;
  margin-bottom: 45px;
  margin-left: -10px;
  color: $primaryColor;
}

.header__link__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transition: background-color 0.25s ease;
}

.header__link:hover {
  .header__link__inner {
    background-color: $cardColor-Light;
  }
}

.header .tweet-button {
  width: 100%;
  margin-left: -10px;
}

.app--dark {
  .header__link {
    color: $textColor-Dark;
  }

  .header__link:hover {
    .header__link__inner {
      background-color: $cardColor-Dark;
    }
  }
}

@media only screen and(max-height: 600px) {
  .header__link {
    margin-bottom: 25px;
  }
}
